.m-0 {
    margin: 0;
}

.flex {
    display: flex;
}

.gap-2 {
    gap: 2rem;
}

.items-center {
    align-items: center;
}

.h-10 {
    height: 10rem;
}

.h-screen {
    height: 100vh;
}

.justify-content {
    justify-content: center;
}